body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

main {
    text-align: center;
    margin-top: 50px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#current-temp {
    font-weight: bold;
    color: #333;
}

footer {
    text-align: center;
    margin-top: 50px;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
}

figure {
    margin-top: 20px;
}

figcaption {
    font-style: italic;
    color: #666;
    text-transform: capitalize;
}

/* Styling the weather icon */
#weather-icon {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}