body {
    width: 650px;
    margin: 0 auto;
    font-family: "Rubik", sans-serif;
}

h1{
    text-align: center;
    padding-top: 25px;
    margin-bottom: 0;
}

main h2{
    font-family:"Rubik", sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0;
}

section {
    text-align: center;
}

img{
    width: 500px;
}

main h3{
    font-family:"Rubik", sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0;
}

header{
    display: grid;
    grid-template-columns: auto auto;
    background: rgb(16, 80, 122);
    color: white;
}

header img{
    display: block;
    margin-left: 70px;
    margin-right: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 50px;
}

header h1{
    display: flex;
    justify-content: start;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/2;
    
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: black;
    text-align: center;
}

.navigation {
    flex-direction: row;
}

.navigation a {
	display: flex;
	padding: 0.5rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}