@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    width: 400px;
    margin: 0 auto;
    font-family: "Rubik", sans-serif;
}

header {
    display: grid;
    grid-template-columns: auto auto auto;
    background: #1C1C1C;
    color: white;
}

header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 10px;
}

header h1{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    padding: 10px;
    margin: 0;
}

/*START HAMBURGER MENU*/
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color:white;
    position: absolute;
	top: 1rem;
	right:3rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
    justify-content: center;
	background-color: black;
	color: #fff;
    text-align: center;
}

.navigation a {
	display: none;
	padding: 0.5rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/*END HAMBURGER MENU*/
.open a {
	display: block;
}

main h2{
    font-family:"Rubik", sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

.my-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.my-button:hover {
background-color: #45a049;
}
.my-button:active {
background-color: #3e8e41;
}

.card{
    display: grid;
    border-style:solid;
    border-width: 1px;
    border-color: #DADDD8;
    border-radius: 5px;
    margin: 10px;
}

.card h3{
    text-align: center;
    background: #DADDD8;
    color: black;
    font-family:"Rubik", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 10px;
}

.card p{
    text-align: center;
    font-family:"Rubik", sans-serif;
}

footer{
    font-family:"Rubik", sans-serif;
    background: #1C1C1C;
    color: white;
    text-align: center;
    padding: 10px;
}

footer #mod{
    color: yellow;
}